{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<h1>logout page</h1>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">ログアウトする</button>
</form>
<button type="button" class="back" onclick="window.location.href='{% url 'diary:mypage' %}'">Live Diaryに戻る</button>
<!-- URLを生成し、それを window.location.href に代入することで、ユーザーを指定したURLにリダイレクトします。
window.location.href はJavaScriptを使用して現在のウェブページのURLを変更するためのプロパティです。これを使用することで、ユーザーを別のURLにリダイレクトすることができる。 -->
{% endblock %}
